{% extends 'base.html' %}

{% load humanize %}

{% block title %} | {{ listing.title }} {% endblock %}

{% block content %}
<form action="{% url 'create' %}" enctype="multipart/form-data" class="p-3" method="POST">
  {% csrf_token %}
  <!-- Form Row 1 -->
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label class="sr-only">Title</label>
      <input type="text" name="title" class="form-control" placeholder="Title">
    </div>
    <div class="col-md-4 mb-3">
      <label class="sr-only">Address</label>
      <input type="text" name="address" class="form-control" placeholder="Address">
    </div>
    <div class="col-md-4 mb-3">
      <label class="sr-only">City</label>
      <input type="text" name="city" class="form-control" placeholder="City">
    </div>
  </div>
  <div class="form-row">
  
    <div class="col-md-4 mb-3">
      <label class="sr-only">State</label>
      <select name="state" class="form-control">
        <option selected="true" disabled="disabled">State (All)</option>
        {% for key,value in state_choices.items %}
          <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-4 mb-3">
      <label class="sr-only">Zip code</label>
      <input type="text" name="zipcode" class="form-control" placeholder="Zip code">
    </div>
    <div class="col-md-4 mb-3">
      <label class="sr-only">Description</label>
      <input type="text" name="description" class="form-control" placeholder="Description">
    </div>

    <div class="col-md-6 mb-3">
      <label class="sr-only">Bedrooms</label>
      <select name="bedrooms" class="form-control">
        <option selected="true" disabled="disabled">Bedrooms (All)</option>
        {% for key,value in bedroom_choices.items %}
          <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="col-md-6 mb-3">
      <select name="price" class="form-control" id="type">
        <option selected="true" disabled="disabled">Price (Any)</option>
        {% for key,value in price_choices.items %}
          <option value="{{ key }}">{{ value }}</option>
        {% endfor %}
      </select>
    </div>
</div>
<div class="form-row">
  <div class="col-md-4 mb-3">
    <label class="sr-only">Bathrooms</label>
    <input type="number" name="bathrooms" class="form-control" placeholder="Bathrooms">
  </div>
  <div class="col-md-4 mb-3">
    <label class="sr-only">Garage</label>
    <input type="number" name="garage" class="form-control" placeholder="Garage">
  </div>
  <div class="col-md-4 mb-3">
    <label class="sr-only">Sqft</label>
    <input type="number" name="sqft" class="form-control" placeholder="Sqft">
  </div>
  <div class="col-md-4 mb-3">
    <label class="sr-only">Lot size</label>
    <input type="number" name="lotsize" class="form-control" placeholder="Lot size">
  </div>
</div>
<div class="col-md-4 mb-3">
  <label class="sr-only">Photos</label>
  <input type="file" name="photos" class="form-control" multiple="true" placeholder="Photos">
</div>
  <button class="btn btn-secondary btn-block mt-4" type="submit">Submit form</button>
</form>
{% endblock %}